<div class="row">
    <div class="col-sm-8">
        <div class="add">
            <div class="table-title">Add Issue</div>
            <form action="#" class="sign-in-form" (submit)="onSubmit(name.value,desc.value,imageUrl.value);">
                <div class="input-field">
                  <input #name type="text" placeholder="Name of the Issue" />
                </div>
                <div class="input-field">
                  <input #desc type="text" placeholder="Description" />
                </div>
                <div class="input-field">
                    <input #imageUrl  type="text" placeholder="Image url"  (change)="image(imageUrl.value);"/>
                  </div>
                  <img id="preview" #preview src="{{source}}" *ngIf="show" height="100px" width="100px">
                <input type="submit" value="Submit" class="btn solid" />
              </form>

        </div>

    </div>
    <div class="col-sm-4">
        <div class="user">
            <br>
            <div class="total">Total Issues <span class="tot num">35</span></div>
            <br>
            <div class="active">Active Issues <span class="act num">12</span></div>
            <br>
            <div class="solved">Solved Issues <span class="sol num">23</span></div>
            <br>
        </div>      
    </div>
</div>
