<navigation-bar user="user"></navigation-bar>
<div class="row">
    <div class="col-sm-8">
        <div class="add">
            <div class="table-title">Add Issue</div>
            <form action="#" class="sign-in-form" (submit)="$event.preventDefault();onSubmit(name.value,desc.value,imageUrl.value);">
                <div class="input-field">
                  <input #name type="text" placeholder="Issue name" />
                </div>
                <div class="input-field">
                  <input #desc type="text" placeholder="Description" />
                </div>
                <div class="input-field">
                    <input #imageUrl  type="text" placeholder="Image url"  (change)="image(imageUrl.value);"/>
                  </div>
                  <img id="preview" #preview src="{{source}}" *ngIf="show" height="100px" width="100px">
                <input type="submit" value="Submit" class="btn solid" />
                
              </form>

        </div>

    </div>
    <div class="col-sm-4">
      
        <div class="user">
          <h1>User:</h1>
        <label><h1>{{user.username}}<h5>{{user.email}}</h5></h1></label>
            <br>
            <div class="total" style="color:indigo;"><b>Total Issues : </b><span class="tot num"><b>{{stats.totalissues}}</b></span></div>
            <br>
            <div class="active" style="color: red;"><b>Active Issues :</b><span class="act num"><b>{{stats.active}}</b></span></div>
            <br>
            <div class="solved" style="color: green;"><b>Solved Issues :</b><span class="sol num"><b>{{stats.solved}}</b></span></div>
            <br>
        </div>      
    </div>
</div>
