<div class="row">
<div class="col-md-10 col-sm-6 col-10">
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
                        <input class="radio" id="one" name="group" type="radio" checked>
                        <input class="radio" id="two" name="group" type="radio">
                         <div class="table-title">
                        <label class="tab" id="one-tab" for="one"><h2>Active </h2></label>&nbsp;
                        <label class="tab" id="two-tab" for="two"><h2> Solved</h2></label>
           </div>
           
               <tableact id="one-panel" class="panel" [issues]="issues"></tableact>
               <tablesol id="two-panel" class="panel" [issues]="solIssues"></tablesol>
                   
        </div>
    </div>
</div>
</div>
<div class="col-md-2 col-sm-6 col-2">
<div class="user">
    <br>
    <div class="total">Total Issues <span class="tot num">35</span></div>
    <br>
    <div class="active">Active Issues <span class="act num">12</span></div>
    <br>
    <div class="solved">Solved Issues <span class="sol num">23</span></div>
    <br>
</div>      
</div>
</div>    


