
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3">
            <form class="form-container">
                <div class="justify-content-center"><h2>Sign-up</h2></div>
                 <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input ngModel name="email" id="email" type="text" class="form-control" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                    <div class="alert-danger" *ngIf="email.errors?.pattern"> Invalid Email!</div>
                </div>
                <div class="form-group">
                    <label for="userName" class="form-label">Username</label>
                    <input ngModel name="userName" id="userName" type="text" class="form-control">
                    </div>
                <div class="form-group">
                    <label for="mobileNumber" class="form-label">Mobile Number</label>
                    <input ngModel name="mobileNumber" id="mobileNumber" type="text" class="form-control" #mobileNumber="ngModel" pattern="\d{10}">
                    <div class="alert-danger" *ngIf="mobileNumber.errors?.pattern"> Invalid Mobile Number!</div>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input ngModel name="password" id="password" type="password" class="form-control" #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input ngModel name="cpassword" id="cpassword" type="password" class="form-control" #cpassword="ngModel" pattern="{{password.value}}">
                    <div class="alert-danger" *ngIf="cpassword.errors?.pattern"> Passwords doesnot match!</div>
                </div>
                 <button class="btn btn-primary btn-block">Submit</button>
            </form>

        </div>
    </div>
</div>
