
<div scroll="no">
  <div>
    <div class="circle"></div>
  </div>
  <div>
    <div class="forms-container">
      <div class="signin-signup">
        <div class="sign-in-form" >
        <!--  sending paramters and  form.reset()-->
        <form #form action="#"
          (submit)="onSubmit(email.value,username.value,phone.value,password1.value,password2.value);"
          id="sign-up">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="flex">
              <mat-icon class="font">email</mat-icon>
            </i>
            <input #email type="text" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="flex">
              <mat-icon class="font">person</mat-icon>
            </i>
            <input #username type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="flex">
              <mat-icon class="font">phone</mat-icon>
            </i>
            <input #phone type="text" placeholder="Phone" />
          </div>
          <div class="input-field">
            <i class="flex">
              <mat-icon class="font">lock</mat-icon>
            </i>
            <input #password1 type="password" placeholder="Password" />
          </div>
          <div class="input-field">
            <i class="flex">
              <mat-icon class="font">lock</mat-icon>
            </i>
            <input #password2 type="password" placeholder="Confirm Password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          Have an account? <a href="/signin">sign in</a>
        </form>
        
        
        </div>
        <div *ngIf="hasErr" class="alert alert-danger" role="alert">
          <div class="flex" style="margin: 5px;">
            <mat-icon class="alert">error_outline</mat-icon><span class="error">{{errMsg}}</span>
          </div>
        </div>
      </div>

    </div>

    
  </div>
</div>
